<mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100" color="primary" hideRequiredMarker="true">
        <mat-label>{{ 'word.examples.placeholder' | translate }}</mat-label>
        <textarea matInput [formControl]="contentControl" rows="3"></textarea>
        <mat-error *ngIf="contentControl.hasError('required')">
            {{ 'word.examples.errors.required' | translate }}
        </mat-error>
        <mat-error *ngIf="contentControl.hasError('maxlength')">
            {{ 'word.examples.errors.maxlength' | translate:{ max: 500 } }}
        </mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()" [disabled]="loading">
        {{ 'word.examples.cancel' | translate }}
    </button>
    <button mat-flat-button color="primary" type="button" (click)="submit()" [disabled]="loading || contentControl.invalid">
        {{ 'word.examples.add' | translate }}
    </button>
</mat-dialog-actions>
