<h2 mat-dialog-title class="word-translation-dialog__title" *ngIf="targetWordLabel">
    {{ targetWordLabel }} ->
    <span class="word-translation-dialog__lang-buttons" *ngIf="languages.length">
        <button
            mat-stroked-button
            type="button"
            class="word-translation-dialog__lang-btn"
            *ngFor="let lang of languages"
            [class.word-translation-dialog__lang-btn--active]="activeLang?.id === lang.id"
            (click)="selectLanguage(lang)">
            {{ lang.name }}
        </button>
    </span>
</h2>
<mat-dialog-content class="word-translation-dialog__content">
    <div class="word-translation-dialog__sidebar">
        <div class="word-translation-dialog__sidebar-header">
            <button mat-stroked-button type="button" (click)="addTranslation()">
                {{ 'word.translation.add' | translate }}
            </button>
        </div>
        <mat-nav-list>
            <a
                mat-list-item
                *ngFor="let formGroup of translationForms; let index = index"
                (click)="selectTranslation(index)"
                [class.word-translation-dialog__item--active]="index === selectedIndex">
                <div class="word-translation-dialog__item-title">
                    {{ formGroup.value.name?.trim() || ('word.translation.new' | translate) }}
                </div>
            </a>
        </mat-nav-list>
    </div>
    <div class="word-translation-dialog__form" *ngIf="selectedForm as activeForm">
        <app-word-form
            [form]="activeForm"
            mode="update"
            [useCard]="false"
            [disableTypeSelection]="true"
            [showTypeField]="false"
            [showPlural]="true"
            [genderOptional]="!requiresGenderField"
            [showTitle]="false"
            [showComment]="true"
            [handleSubmit]="false"
            [gendersOverride]="activeLang?.genders ?? data.langue.genders"
            [autoFocusName]="false"
            [commentPlaceholder]="commentPlaceholder"
            [commentPlaceholderParams]="commentPlaceholderParams"></app-word-form>
        <div class="word-translation-dialog__form-footer" *ngIf="translationForms.length > 1">
            <button
                mat-button
                color="warn"
                type="button"
                class="word-translation-dialog__delete-btn"
                (click)="deleteTranslation(selectedIndex, $event)"
                [disabled]="loading">
                {{ 'word.translation.delete' | translate }}
            </button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="word-translation-dialog__actions-bar">
    <button
        mat-button
        type="button"
        class="word-translation-dialog__action-btn b-1 border-error text-error"
        (click)="onCancel()"
        [disabled]="loading">
        <mat-icon>close</mat-icon>
        <span>{{ 'common.actions.cancel' | translate }}</span>
    </button>
    <button
        mat-flat-button
        color="primary"
        type="button"
        class="word-translation-dialog__action-btn"
        (click)="save()"
        [disabled]="loading || !selectedForm || selectedForm.invalid">
        <mat-icon>check</mat-icon>
        <span>{{ 'common.actions.save' | translate }}</span>
    </button>
</mat-dialog-actions>
